<div class="main-container">
<p class="title">URL Shortener</p>
  <form>
    <input type="text" class="url-shortener-text" placeholder="Enter your link here..."/>
    <button class="shorten">Shorten URL</button>
    
    <p class="loading"></p>
    <p class="shortened-url"></p>
    <p class="error"></p>

    <button class="copy" style="display: none;">Copy</button>

  </form>
</div>
