<h1>URL Shortener</h1>
<div>
  <form>
    <input type="text" class="url-shortener-text" />
    <button>Shorten URL</button>
    
    <p class="loading"></p>
    <p class="shortened-url"></p>
    <p class="error"></p>

    <button class="copy" style="display: none;">Copy</button>

  </form>
</div>
